.menu-section {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.menu-section h2 {
    
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.menu-category {
    margin-bottom: 30px;
}

.menu-category h3 {
    color: #48210c;
    border-bottom: 2px solid #48210c;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.menu-item {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
}

.menu-item ul {
    list-style-type: none;
    padding: 0;
}

.menu-item li {
    margin-bottom: 10px;
}

.menu-item button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #48210cb3;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.menu-item button:hover {
    background-color: #060630;
}
h1 {
    text-align: left;
}
nav {
    height: 50px;
    text-align: right;
}

img {
    width: 25px;
    max-width: 50px;
    height: auto;
}
